.container {
  outline: 1px solid red;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;

  @include for-phone-only {
    max-width: 480px;
  }

  @include for-tablet-up {
    max-width: 768px;
    padding: 0 40px;
  }

  @include for-desktop-up {
    max-width: 1394px;
    padding: 0 40px;
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
}